<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CSC584GroupProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>courier.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>courier.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>courier.controller.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>courier.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryController</display-name>
    <servlet-name>DeliveryController</servlet-name>
    <servlet-class>courier.controller.DeliveryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryController</servlet-name>
    <url-pattern>/DeliveryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>courier.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParcelController</display-name>
    <servlet-name>ParcelController</servlet-name>
    <servlet-class>courier.controller.ParcelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcelController</servlet-name>
    <url-pattern>/ParcelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteController</display-name>
    <servlet-name>RouteController</servlet-name>
    <servlet-class>courier.controller.RouteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteController</servlet-name>
    <url-pattern>/RouteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleController</display-name>
    <servlet-name>VehicleController</servlet-name>
    <servlet-class>courier.controller.VehicleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleController</servlet-name>
    <url-pattern>/VehicleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDispatcherController</display-name>
    <servlet-name>AddDispatcherController</servlet-name>
    <servlet-class>courier.controller.AddDispatcherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDispatcherController</servlet-name>
    <url-pattern>/AddDispatcherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDispatcherController</display-name>
    <servlet-name>ListDispatcherController</servlet-name>
    <servlet-class>courier.controller.ListDispatcherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDispatcherController</servlet-name>
    <url-pattern>/ListDispatcherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDispatcherController</display-name>
    <servlet-name>UpdateDispatcherController</servlet-name>
    <servlet-class>courier.controller.UpdateDispatcherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDispatcherController</servlet-name>
    <url-pattern>/UpdateDispatcherController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DeleteDispatcherController</display-name>
    <servlet-name>DeleteDispatcherController</servlet-name>
    <servlet-class>courier.controller.DeleteDispatcherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDispatcherController</servlet-name>
    <url-pattern>/DeleteDispatcherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>courier.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
</web-app>